ul.no-list-style {
  list-style: none;
  padding-left: 0;
}

.card-body.labels-body {
  padding: 0;
}

.label-column {
  padding: 10px 0 10px 15px;
}

.first-label-column {
  border-right: 1px solid grey;
  padding-left: 35px;
}